/*Adjust some bootstrap variables or buy glasses*/
:root { 
    /*--bs-body-font-size: 0.9;*/
    --bs-body-color : rgba(255,255,255,.95);
    --bs-secondary :  rgba(255,255,255,.8);
    --bs-body-line-height : 1.8;
    }

 /*slightly lighter than the default backgroundcolor */
.selectionRow {

    background-color: rgba(255, 255, 255, .1);
    padding: .5rem;
    align-items: center;
    margin-right:0;
    margin-left: 0;
}
/*items do not align visually centered when margin-bottom != margin-top */
.selectionRow H3 {
    margin-bottom:0
}



/*hr gutter */
.hrGutter {
    width: calc(100% - 2 * var(--bs-gutter-x));
    margin-left: calc(1 * var(--bs-gutter-x));
    margin-right: calc(1 * var(--bs-gutter-x));
}

.btn {
font-weight:normal

}



/*adjusting the map colors*/
.leaflet-container {
    background: #000
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}




